{% extends "layout.html" %}
{% block script %}

{% endblock script %}


{% block my_content %}
<style>
  body{
    background-color:white;
  }
  .container-fluid img {

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    width: 100%;
  }
  .zoom {
  padding: 50px;

  transition: transform .2s;

  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
}
.row{
vertical-align: middle;
background-color: white;
}

  </style>
<!-- Confirmed, Recovered, Deaths Card -->
<div class="row">
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>16.3M</h3>

                <p>Total Confirmed</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>13.6M<sup style="font-size: 20px"></sup></h3>

                <p>Total Recovered</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>187K</h3>

                <p>Total Deaths</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>
            <div class="col-6">

                  <!-- <img id="img"  class= "zoom"  style="visibility:visible" display="block"/>
                  <img id="img1"  class= "zoom"  style="visibility:visible" display="block"/>
                  <img id="img2"  class= "zoom"  style="visibility:visible" display="block"/> -->


            </div>
        <div class="col">
        </div>
    </div>
        <div class="row">

            <div class="chart" id="plotly-global">
            </div>
        </div>

        <div class="row">
            <div class="chart" id="plotly-global1">
            </div>
        </div>

        <div class="row">

            <div class="chart" id="plotly-global2">
            </div>
        </div>

        <hr>
        <div class="row">
            <div id="plotly-timeseries"></div>
        </div>
    </div>
</div>
<script>
      // document.getElementById('img').src="data:image/png;base64,{{ context.plot_url}}";
      // document.getElementById('img1').src="data:image/png;base64,{{ context.plot_cure}}";
      // document.getElementById('img2').src="data:image/png;base64,{{ context.plot_death}}";
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_url | safe }};
    Plotly.plot('plotly-global', graphs, {});

    var graphs = {{ context.plot_cure | safe }};
    Plotly.plot('plotly-global1', graphs, {});

    var graphs = {{ context.plot_death | safe }};
    Plotly.plot('plotly-global2', graphs, {});

</script>
{% endblock my_content %}
